* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}

.container {
  background-color: rgb(0, 74, 104);
  width: 31.25rem;

  padding: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container .row .col-12 {
  display: flex;
  column-gap: 0.3125rem;
}
.TastDiv {
  display: flex;
  flex-direction: column;
}

.TastDiv p {
  background-color: white;
  width: 91.5%;
  color: black;
  padding: 0.3025rem;
  border-radius: 0.3125rem;
  display: flex;
  justify-content: space-between;
}
.TastDiv p .i {
  color: red;
  cursor: pointer;
}

@media (min-width: 0px) {
  .container {
    width: 100%;
  }
  .TastDiv p {
    width: 90%;
  }
}

@media (max-width: 300px) {
  .TastDiv p {
    width: 80%;
  }
}

@media (min-width: 480px) {
  .container {
    width: 29rem;
  }
  .TastDiv p {
    width: 91.5%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 31.25rem;
  }
  .TastDiv p {
    width: 91.5%;
  }
}
